{% extends 'sportsapp/base.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<h2>Log In</h2>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="Username" name="username" required
            placeholder="Enter a username (use only letters and numbers)">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>
{% endblock %}